body {
	background-color: #f5f5f5;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	/*color: white;*/
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.leaflet-container {
	height: 400px;
	width: 100%;
  }
.img-marker {
	width: 20px;
	height: 22px;
}

.card_fix::after {
	display: block;
	position: relative;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0,
		#fff 100%
	);
	margin-top: -150px;
	height: 150px;
	width: 100%;
}

.searchbar {
	justify-content: center !important;
	align-self: center !important;
	align-items: center !important;
	/* border-bottom: 2px solid rgba(235, 83, 116, 0.9) !important; */
	vertical-align: middle !important;
}

.active {
	color: rgba(235, 83, 116, 0.9) !important;
	font-size: 12px !important;
}

h1 {
	font-family: "Open Sans", sans-serif;
	color: rgba(235, 83, 116, 0.9);
}

.button {
	background-color: rgba(235, 83, 116, 0.9) !important;
}

.wrapbar {
	display: inline-block;
	width: 100%;
	height: 3rem;
	margin: 0;
	margin-bottom: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.row {
	margin: 0;
}

.input-field,
.button {
	/*margin-top: 1rem !important;*/
}

.dropShadow {
	color: #ffffff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
		0 0 20px rgba(235, 83, 116, 1), 0 0 30px rgba(235, 83, 116, 1),
		0 0 40px rgba(235, 83, 116, 1), 0 0 55px rgba(235, 83, 116, 1),
		0 0 75px rgba(235, 83, 116, 1);
}
